@{
    ViewData["Title"] = "Privacy Policy";
}

@section Styles {
    <link href="@Url.Content("~/css/privacy.css")" rel="stylesheet" type="text/css" />
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
