*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../images/newbackground-blurred.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 90%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
    transition:0.05s;
}

.logo:hover {
    width: 120px;
    cursor: pointer;
    transform: scale(1.1);
    transition:0.2s;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin:0 23px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    transition: 0.3s ease-out;
}

    .navbar ul li a:hover {
        color: #05b4e4;
    }

    .navbar ul li a::after {
        content: '';
        height: 3px;
        width: 0;
        background: #d400d4;
        position: absolute;
        left: 0;
        /*bottom: 30px - nven top*/
        top: 30px;
        transition: 0.3s;
    }

.navbar ul li a:hover::after {
    width:100%;

}

li a:hover {
    color: #05b4e4;
    transition:0.2s ease-in;
}

.navbar .dropdown {
    min-width: 15em;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding:1em;
    cursor:pointer;
}
.select-clicked {
    border: 2px #d400d4 solid;
    box-shadow: 0 0 0.8em #d400d4;
}

.select:hover {
    color: #05b4e4;
}

/*.select::after {
    content: '';
    height: 3px;
    width: 0;
    background: #d400d4;
    position: absolute;
    left: 0;*/
    /*bottom: 30px - nven top*/
    /*top: 30px;
    transition: 0.3s;
}*/

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition:0.3s;
}
.caret-rotate{
    transform:rotate(180deg);
}

.menuLayout {
    list-style: none;
    padding: 0.2em 0.5em;
    background: transparent;
    border: 2px #d400d4 solid;
    box-shadow: 0 0 0.8em #d400d4;
    /*box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);*/
    border-radius: 0.5em;
    color: #fff;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menuLayout li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menuLayout li:hover{
    background: #2a2d35;
}

.menuLayout-open{
    display:block;
    opacity:1;
}

.content{
    width:100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    margin-top:40px;
}

    .content h1 {
        font-size: 50px;
        margin-top: 90px;
    }



    .content h3 {
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
    }

.button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d400d4;
    box-shadow: 0 0 50px #d400d4;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 17px;
}

.buttoni {
    width: 155px;
    padding: 15px 0;
    text-align: center;
    margin: -25px 0px;
    border-radius: 25px;
    font-weight: bold;
    border: 0.5px solid #d400d4;
    box-shadow: 0 0 15px #d400d4;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 17px;
}


span {
    background: #d400d4;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

.most-watched {
    width: 100%;
    background-color: #00001a;
}

    .most-watched h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 40px;
        padding-top:5%;
        color: #05b4e4;
        padding-top: -5%;
        text-shadow: 0 0 25px #05b4e4;
        padding-bottom: 5%;
    }

.anisa {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
}

.frem {
    position: relative;
    width: 300px;
    height: 500px;
    /* background: white; */
}

    .frem::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        transform: skewX(2deg) skewY(4deg);
        background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
    }

    .frem::after {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        transform: skewX(2deg) skewY(4deg);
        background: linear-gradient(315deg, #00ccff, #0e1538, #d400d4);
        filter: blur(50px);
    }

.center-cant {
    width: 300px;
    height: 500px;
    background: #00001a;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-radius: 0px 12px 0px 12px;
    overflow: hidden;
    transition: 0.2 ease-in-out;
}

    .center-cant:hover {
        transform: scale(1.05);
        /*transition: 0.3s ease-in;*/
    }

    .center-cant img {
        width: 100%;
        height: 414px;
        object-fit: cover;
        border-radius: 0px 12px 0px 12px;
    }

    .center-cant .row {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        .center-cant .row p {
            color: white;
            letter-spacing: 1px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .center-cant .row h2 {
            color: #00ffd7;
            font-size: 18px;
            padding: 12px;
            background: #00000047;
            letter-spacing: 1px;
            border-radius: 0px 12px 0px 12px;
        }


button:hover{
    border: none;

}

.about-us-img {
    width: 500px;
    margin: 50px auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 10px #7A32CF;
}

.content p {
    font-size: 20px;
    margin: 20px auto;
    text-align: left;
    width: 80%;
    color: #fff;
    line-height: 35px;
}

.footer {
    position: relative;
    width: 100%;
    background: url(../images/newbackground-blurred.jpg);
    min-height: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

    .footer .social_icon,
    .footer .menu {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
    }

        .footer .social_icon li,
        .footer .menu li{
            list-style: none;
        }

.footer .social_icon li a
{
    font-size: 2em;
    color:#fff;
    margin: 0 10px;
    display:inline-block;
    transition: 0.5s;
}

.footer .social_icon li a:hover{
    transform: translateY(-10px);
}
.footer .menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration:none;
    opacity:0.75;
}

.footer .menu li a:hover {
    opacity:1;
}

.footer p{
    color:#fff;
    text-align:center;
    margin-top:15px;
    margin-bottom:10px;
    font-size: 1.1em;

}

.footer .wave {
        position: absolute;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100px;
        background:url(../images/newfinal.png);
        background-size: 1000px 100px;
}

.footer .wave#wave1{
        z-index: 1000;
        opacity:1;
        bottom: 0;
        animation: animateWave 4s linear infinite;
}

.footer .wave#wave2 {
            z-index: 999;
            opacity: 0.5;
            bottom: 10px;
            animation: animateWave_02 4s linear infinite;
}

.footer .wave#wave3 {
        z-index: 1000;
        opacity: 0.2;
        bottom: 15px;
        animation: animateWave 3s linear infinite;
}
.footer .wave#wave4 {
        z-index: 999;
        opacity: 0.7;
        bottom: 20px;
        animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
        0%{
            background-position-x: 1000px;
        }
        100%{
            background-position-x: 0px;
        }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

