body {
    height: 100%;
    width: 100%;
    background: #e9e9e9;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #010b26;
    background: url(../images/backgroundimg-blured.jpg);
    background-size: cover;
}

* {
    -webkit-transition: 300ms;
    transition: 300ms;
}

.clasaJone {
    width: 100%;
    height: 100px;
    border: 1px solid red;
}

.intro {
    text-align: center;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        color: #6ABCEA;
    }

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.navbar-dark {
    padding: 15px !important;
    background: #13191d !important;
}

.sidebar {
    line-height: 26px;
    padding-top: 50px;
    position: absolute;
    left: 0px;
    width: 10%
}

    .sidebar ul {
        margin: 30px 0px;
    }

    .sidebar .nav-link {
        display: block;
        text-align: center;
    }

        .sidebar .nav-link i {
            display: block;
            text-align: center;
        }

        .sidebar .nav-link.active {
            color: #03A9F4;
        }

.movie_list {
    margin-top: 5rem;
    padding-left: 4rem !important;
}

.card-view {
    background: #E0E0E0;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 315px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
}

.card-header {
    padding: 0;
    margin: 0;
    height: 367px;
   
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 10px;
}

.avengerEndgame {
    background-size: contain;
}

.hobbsShaw {
    background: url("img/hobbs-and-shaw.jpg");
    background-size: cover;
}

.Johnwick {
    background: url("img/john-wick-3.jpg");
    background-size: cover;
    background-position: 100% 100%;
}

.deadPool {
    background: url("img/deadpool-2.jpg");
    background-size: cover;
}

.theLionking {
    background: url("img/lion_king.jpg");
    background-size: cover;
}

.madMax {
    background: url("img/mad_max.jpg");
    background-size: cover;
}

.aquaMan {
    background: url("img/aqua_man.jpg");
    background-size: cover;
}

.missionImpossible {
    background: url("img/mission_Impossible.jpg");
    background-size: cover;
}

.card-header-icon {
    position: relative;
}

.header-icon {
    width: 100%;
    height: 367px;
    line-height: 367px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 54px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: .85;
}

    .header-icon:hover {
        background: rgba(0, 0, 0, 0.15);
        font-size: 74px;
        text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        opacity: 1;
    }

.card-view:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
}

.card-movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
}

.card-movie-content-head,
.card-movie-info {
    display: table;
    width: 100%;
}

.card-movie-title {
    font-size: 22px;
    margin: 0;
    display: table-cell;
}

.ratings {
    width: 50px;
    height: 15px;
    background-size: contain;
    display: table-cell;
    text-align: right;
    position: relative;
    margin-top: 5px;
    font-weight: 600;
}

    .ratings span {
        color: #2196F3;
    }

.card-movie-info {
    margin-top: 1em;
}

.movie-running-time {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
}

    .movie-running-time:first-of-type {
        text-align: left;
    }

    .movie-running-time:last-of-type {
        text-align: right;
    }

    .movie-running-time label {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: .5em;
        font-size: 9px;
    }

    .movie-running-time span {
        font-weight: 700;
        font-size: 11px;
    }

@media Running time and (max-width: 500px) {
    .card-view {
        width: 95%;
        max-width: 95%;
        margin: 1em;
        display: block;
    }

    .container {
        padding: 0;
        margin: 0;
    }
}



/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: url(../images/backgroundimg-blured.jpg);
    font-family: Helvetica, sans-serif;
    color: rgb(211, 211, 211);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 350px;
    height: 500px;
    perspective: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}

    .container:hover > .card {
        cursor: pointer;
        transform: rotateY(180deg);
    }

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    padding:30px;
}

.front img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    object-fit: cover;
    backface-visibility: hidden;
}
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    
}

.back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}*/


/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: url(../images/backgroundimg-blured.jpg);
}

.frem {
    position: relative;
    width: 300px;
    height: 500px;*/
    /* background: white; */
/*}

    .frem::before {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        transform: skewX(2deg) skewY(4deg);
        background: linear-gradient(315deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
    }

    .frem::after {
        content: '';
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        transform: skewX(2deg) skewY(4deg);
        background: linear-gradient(315deg, rgb(0, 32, 95) 2.8%, rgb(132, 53, 142) 97.8%);
        filter: blur(50px);
    }

.center-cant {
    width: 300px;
    height: 500px;*/
    /*background: black;*/
    /*position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    padding: 6px;
    border-radius: 0px 12px 0px 12px;
    overflow: hidden;
}

    .center-cant img {
        width: 100%;
        height: 414px;
        object-fit: cover;
        border-radius: 0px 12px 0px 12px;
    }

    .center-cant .row {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

        .center-cant .row p {
            color: white;
            letter-spacing: 1px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .center-cant .row h2 {
            color: #00ffd7;
            font-size: 18px;
            padding: 12px;*/
           /* background: black;*/
            /*letter-spacing: 1px;
            border-radius: 0px 12px 0px 12px;
        }*/


