body {
	background-image: url(../images/newbackground-blurred.jpg);
	background-size: cover;
	background-position: center;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	margin-left: 35%;
}


label {
	color: white;
}
