@model Filmat.ViewModels.LoginViewModel

@{
    ViewBag.Title = "User Login";
    Layout = null;
}


<link href="@Url.Content("~/css/Login.css")" rel="stylesheet" />

<div class="container">
    <h1 class="form-title">Log In</h1>
    <form method="post">
        <div class="main-user-info">
            <div class="user-input-box">

                <label for="username">Username</label>
                <input asp-for="FullName"
                       type="text"
                       id="fullName"
                       name="fullName"
                       placeholder="Enter Username" />
                <span  style="color:red;" asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="user-input-box">
                <label for="password">Password</label>
                <input asp-for="Password"
                       type="password"
                       id="password"
                       name="password"
                       placeholder="Enter Password" />
                <span  style="color:red;" asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label style="color:white;" asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>


                </div>
        </div>
        <div class="form-submit-btn">
            <input type="submit" value="Log In">
        </div>
    </form>
</div>

@*<div class="row">
            <div class="col-md-8 offset-2">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    
                    <div class="form-group">
                        <label  class="control-label">Username</label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        
                        
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>*@